---
import Layout from "@/layouts/Layout.astro";
import RegistrationForm from "@/components/forms/RegistrationForm.vue";
import AbortRegistration from "@/components/forms/AbortRegistration.astro";
import Container from "@/components/ui/Container.astro";

// El email viene de forma segura desde el middleware
const email = Astro.locals.email as string | undefined;

// Si por alguna razón no hay email (aunque el middleware debería prevenirlo),
// no renderizamos el formulario para evitar errores.
// if (!email) {
//   return Astro.redirect("/register");
// }
---

<Layout title="Completar Registro">
  <Container>
    <div class="mb-20">
      <div class="text-center pt-10 mb-10 px-4">
        <h2 class="text-3xl md:text-5xl text-white/80 font-bold">
          Formulario de
          <span class="text-gradient">registro</span>
        </h2>
      </div>

      <RegistrationForm email={"jos3lo-wadafa@gmail.com"} client:load />

      <AbortRegistration />
    </div>
  </Container>
</Layout>
