---
import ComingSoon from "@/components/ComingSoon.astro";
import ScheduleTimeline from "@/components/ScheduleTimeline.vue";
import Layout from "@/layouts/Layout.astro";

const show = false;
---

<Layout title="Cronograma del Evento">
  <section class="text-center pt-10 px-4 sm:px-6 lg:px-8">
    <h2 class="text-4xl md:text-6xl font-bold mb-6 animate-fade-in-up">
      <span class="text-gradient">Cronograma</span>
    </h2>
  </section>

  {show ? <ScheduleTimeline client:load /> : <ComingSoon />}
</Layout>
