<div class="">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1192.5994053249824!2d-73.34884123517507!3d-13.664173992785337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916d29f061fc8823%3A0x81785c36cb372aa2!2sAuditorio%20Central%20-%20UNAJMA!5e1!3m2!1ses-419!2spe!4v1759102371237!5m2!1ses-419!2spe"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="p-8 md:w-1/2">
  <h2 class="text-3xl font-bold text-blue-500">CINCIT</h2>

  <p class="text-lg text-gray-400 mt-1 mb-6">
    Congreso Internacional de Computación e Innovación Tecnológica.
  </p>

  <h3 class="text-xl font-semibold text-white">Ubicación del Evento</h3>

  <span class="block text-gray-300 mt-2 mb-4">
    Auditorio Central de la Universidad Nacional José María Arguedas,
    Andahuaylas.
  </span>

  <p class="text-gray-200">
    El <strong>CINCIT</strong> se desarrollará en el moderno auditorio central de
    la universidad, un espacio diseñado para la formación, la investigación y la
    innovación tecnológica.
  </p>
</div>
